.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*
/**/*.log
!/log/.keep

tmp
!tmp/cache/.keep
!tmp/data/.keep
!tmp/pids/.keep
!tmp/sessions/.keep
!tmp/sockets/.keep
!tmp/uploads/.keep

public/assets/

config/deploy.yml

app/views/pages/*
!app/views/pages/.empty_directory

app/views/snippets/*
!app/views/snippets/.empty_directory

app/content_types/*
!app/content_types/.empty_directory

data/*
!data/.empty_directory

node_modules

bin/
!bin/rails
!bin/travis-dedup
!bin/travis-runner

/doc/
/.yardoc
/_yardoc/

/coverage/

spec/dummy/.nvmrc
spec/dummy/package.json
spec/dummy/Gemfile*

.DS_Store
